version: '2.1'
orbs:
  node: circleci/node@4.2
jobs:
  install-node-example:
    docker:
      - image: 'cimg/base:stable'
    steps:
      - checkout
      - node/install:
          install-yarn: true
      - run: yarn install
workflows:
  test_my_app:
    jobs:
      - install-node-example